<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
<ion-view title="Login">
  <ion-content padding="true" scroll="false" class="has-header has-footer">
    <form>
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="请输入手机号码">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="请输入密码">
        </label>
      </ion-list>
      <a href="#/xinyuandan" class="button button-stable button-block ">Log in 登录</a>
      <a href="#/signup" class="button button-positive button-clear button-block ">没有购物袋账号？点击注册</a>
    </form>
  </ion-content>
</ion-view>