<ion-view title="发现商品">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <ion-list>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="搜索更多的商品">
      </label>
    </ion-list>
    <div>
      <i><img src="http://ionicframework.com/img/docs/mcfly.jpg" width="250px;"/></i>
    </div>
    <div>
      <i><img src="http://ionicframework.com/img/docs/mcfly.jpg" width="250px;"/></i>
    </div>
    <h2>各国代购指南</h2>
    <div class="button-bar">
      <button class="button  button-block  icon-left ion-ios7-flag">美国</button>
      <button class="button button-stable button-block  icon-left ion-star">中国</button>
      <button class="button button-stable button-block  icon-left ion-android-note">英国</button>
    </div>
  </ion-content>
</ion-view>