<ion-view title="他的购物袋">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="button-bar"></div>
        <div class="button-bar">
            <button class="button button-stable button-block  icon ion-social-foursquare">已购</button>
            <button class="button button-stable button-block ">留言</button>
            <button class="button button-stable button-block ">编辑</button>
            <button class="button button-stable button-block  icon-left ion-ios7-more">更多</button>
        </div>
    </ion-content>
</ion-view>