<ion-view title="个人中心">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <ion-list>
            <ion-item href="#/app/goodsmessage">消息</ion-item>
            <ion-item href="#/history">历史</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 27px;"></div>
        <ion-list>
            <ion-item href="#/recommendfriend">推荐给朋友</ion-item>
            <ion-item href="#/about">关于</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <ion-list>
            <ion-item href="#/set">设置</ion-item>
        </ion-list>
        <button class="button button-assertive button-block ">安全退出</button>
    </ion-content>
</ion-view>