<ion-view title="商品列表">
  <ion-header-bar class="bar-assertive">
    <button class="button button-dark button-icon button-small icon-left ion-android-close"></button>
    <h1 class="title">商品详情</h1>
    <div class="buttons"></div>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <ion-list>
      <ion-item class="item-divider">Louisvuitton PETITE MALLE
        <br>$5200（数量） ￥38230</ion-item>
      <ion-item class="item-divider">代购次数：77 次
        <br>推荐指数：3颗星
        <br>地区：中国
        <br>尺寸：18.0x12.0x4.0cm(长x高x宽)
        <br>
      </ion-item>
      <ion-item class="item-divider">详细特征：
        <br>万众瞩目的mall，采用羊羔印花做成，
        <br>具有独特的浮雕触感</ion-item>
    </ion-list>
    <ion-list></ion-list>
    <button class="button button-assertive button-block ">加入心愿单</button>
  </ion-content>
</ion-view>