<ion-view title="消息列表">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/app/goodsmessage" class="button button-assertive button-block ">商品信息</a>
            <a href="#/app/systemmessage" class="button button-stable button-block ">系统消息</a>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#/app/goodsdetails">
                <img src="/img/avatar-img.png">
                <h2>Louisvuitton PETITE MALLE 手袋</h2>
                <p>Harrynickols: 给你买到拉~好漂亮啊，
                    <br>你好有眼光阿！</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/app/goodsdetails">
                <img src="/img/avatar-img.png">
                <h2>Louisvuitton PETITE MALLE 手袋</h2>
                <p>Harrynickols: 给你买到拉~好漂亮啊，
                    <br>你好有眼光阿！</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/app/goodsdetails">
                <img src="/img/avatar-img.png">
                <h2>Louisvuitton PETITE MALLE 手袋</h2>
                <p>Harrynickols: 给你买到拉~好漂亮啊，
                    <br>你好有眼光阿！</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/app/goodsdetails">
                <img src="/img/avatar-img.png">
                <h2>Louisvuitton PETITE MALLE 手袋</h2>
                <p>Harrynickols: 给你买到拉~好漂亮啊，
                    <br>你好有眼光阿！</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>