<ion-view title="我是买手">
    <ion-content padding="true" scroll="false" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg" class="user_img">

                <h2>用户abc</h2>

                <p>你能帮她带2件 lv包么 ！</p>
                <ion-list></ion-list>
                <div class="button-bar">
                    <a href="#/contact" class="button button-assertive button-block button "
                       ng-click="openContact()">联系</a>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg" class="user_img">

                <h2>用户bbbb</h2>

                <p>你能帮他带2件皮质羊毛衫！</p>

                <div class="button-bar">
                    <a class="button button-assertive button-block" ng-click="openContact()">联系</a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>