<ion-tabs>
    <ion-view title="消息列表">
        <ion-tab title="商品消息">
            <ion-list>
                <div class="spacer"></div>
                <ion-item>
                    <div class="button-bar" style="padding-top: 10px;">
                        <button class="button button-assertive button-block " ng-click="selectTabWithIndex(0)">商品信息
                        </button>
                        <button class="button button-stable button-block " ng-click="selectTabWithIndex(1)">系统消息
                        </button>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left" href="#/app/wishlistdetails">
                    <img src="/image/bag.jpg">

                    <h2>Louisvuitton PETITE MALLE 手袋</h2>

                    <p>Harrynickols: 给你买到拉~好漂亮啊，
                        </br>你好有眼光阿！</p>
                </ion-item>
                <ion-item class="item-thumbnail-left" href="#/app/wishlistdetails">
                    <img src="/image/bag.jpg">

                    <h2>Louisvuitton PETITE MALLE 手袋</h2>

                    <p>Harrynickols: 给你买到拉~好漂亮啊，
                        </br>  你好有眼光阿！</p>
                </ion-item>
                <ion-item class="item-thumbnail-left" href="#/app/wishlistdetails">
                    <img src="/image/bag.jpg">

                    <h2>Louisvuitton PETITE MALLE 手袋</h2>

                    <p>Harrynickols: 给你买到拉~好漂亮啊，
                        </br>  你好有眼光阿！</p>
                </ion-item>
                <ion-item class="item-thumbnail-left" href="#/app/wishlistdetails">
                    <img src="/image/bag.jpg">

                    <h2>Louisvuitton PETITE MALLE 手袋</h2>

                    <p>Harrynickols: 给你买到拉~好漂亮啊，
                        </br>你好有眼光阿！</p>
                </ion-item>
            </ion-list>
            <ion-view>
        </ion-tab>
        <ion-tab title="系统消息">
            <ion-list>
                <div class="spacer"></div>
                <ion-item>
                    <div class="button-bar" style="padding-top: 10px;">
                        <button class="button button-stable button-block " ng-click="selectTabWithIndex(0)">商品信息
                        </button>
                        <button class="button button-assertive  button-block " ng-click="selectTabWithIndex(1)">系统消息
                        </button>
                    </div>
                </ion-item>
                <ion-item>message.countent</ion-item>
                <ion-item>又到了榴莲收获的季节 ,大家快过来 一起吃吧！</ion-item>
                <ion-item>又到了榴莲收获的季节 ,大家快过来 一起吃吧！</ion-item>
            </ion-list>

        </ion-tab>
    </ion-view>
</ion-tabs>
