<ion-view title="设置">
    <ion-content padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item href="#/app/changnicknam">修改昵称</ion-item>
            <ion-item href="#/app/changepassword">修改密码</ion-item>
            <ion-item href="#/app/changeavatar">更换头像</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <ion-list>
            <ion-item href="#/app/feedback">反馈</ion-item>
        </ion-list>
    </ion-content>
</ion-view>