<ion-view title="消息列表">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/app/goodsmessage" class="button button-stable button-block ">商品信息</a>
            <a href="#/app/systemmessage" class="button button-assertive button-block ">系统消息</a>
        </div>
        <ion-list>
            <ion-item>又到了榴莲收获的季节 ,大家快过来 一起吃吧！</ion-item>
            <ion-item>又到了榴莲收获的季节 ,大家快过来 一起吃吧！</ion-item>
            <ion-item>又到了榴莲收获的季节 ,大家快过来 一起吃吧！</ion-item>
        </ion-list>
    </ion-content>
</ion-view>