<ion-modal-view>
    <ion-header-bar>
        <h1 class="title" class="bar-stable">分享</h1>

        <div class="buttons">
            <button class="button button-stable" ng-click="closeModel()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="button-bar">
            <button class="button button-stable  ion-social-twitch-outline">微信</button>
            <button class="button button-stable  ">朋友圈</button>
            <button class="button button-stable  ">微博</button>
            <button class="button button-stable  ">邮件</button>
        </div>

    </ion-content>
</ion-modal-view>
