<div class="card">
    <div class="item item-divider">
        快分享给好友吧
        </div>
    <div class="item item-divider">
        <div class="row">
            <div class="col"><a><img src="image/wxp.jpg"></a></div>
            <div class="col"><a><img src="image/wxp.jpg"></a></div>
            <div class="col"><a><img src="image/wxp.jpg"></a></div>
            <div class="col"><a><img src="image/wxp.jpg"></a></div>
        </div>
        <div class="row">
            <div class="col text-center"><a>微信</a></div>
            <div class="col text-center"><a>朋友圈</a></div>
            <div class="col text-center"><a>微博</a></div>
            <div class="col text-center"><a>邮件</a></div>
        </div>
        <button class="button button-assertive button-block" ng-click="closeModel()">关闭</button>
        </div>
</div>


