<ion-view title="分享与共享">
    <ion-content padding="true" class="has-header">
        <div>
            <i> <img
                    src="http://ionicframework.com/img/docs/mcfly.jpg"></i>
        </div>

        <ion-list>
            <label class="item item-input">
                <span class="input-label">共享给</span>
                <input type="" placeholder="0000007">
            </label>
            <ion-item class="item-thumbnail-left">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg">

                <h2>ID:0000007</h2>

                <p>用户aaa</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg">

                <h2>ID:0000007</h2>

                <p>用户aaa</p>
            </ion-item>
        </ion-list>
        <button class="button button-assertive button-block" ng-click="openModel()">共享</button>
    </ion-content>
</ion-view>