<ion-modal-view>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg" class="user_img">

                <p></br></br>用户aaa</p>
            </ion-item>
            <label class="item item-input">
                <textarea placeholder="Comments"> </textarea>
            </label>
        </ion-list>
    <ion-item>
        <button class="button button-assertive button-block ">发送</button>
    </ion-item>
    <ion-item>
        <button class="button button-assertive button-block" ng-click="closeContact()">关闭</button>
    </ion-item>
    </ion-content>
</ion-modal-view>