<ion-modal-view>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg">

                <h2>用户aaa</h2>

                <p></p>
            </ion-item>
            <label class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
        </ion-list>
        <button class="button button-assertive button-block ">发送</button>

        <button class="button button-assertive button-block" ng-click="closeContact()">关闭</button>

    </ion-content>
</ion-modal-view>