<ion-view title="修改密码">
    <ion-content padding="true" scroll="false" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label"></span>
                    <input type="text" placeholder="请输入旧密码">
                </label>
                <label class="item item-input">
                    <span class="input-label"></span>
                    <input type="text" placeholder="请输入新的密码">
                </label>
                <label class="item item-input">
                    <span class="input-label"></span>
                    <input type="text" placeholder="请再次输入新密码">
                </label>
            </ion-list>
            <button class="button button-assertive button-block ">确定</button>
        </form>
    </ion-content>
</ion-view>