<ion-view title="商品详情">
    <ion-header-bar class="bar-assertive">
        <button class="button button-dark button-icon button-small icon-left ion-android-close"></button>
        <h1 class="title">商品详情</h1>

        <div class="buttons"></div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div style=" border: 1px solid rgb(238, 238, 238);">
            <i><img src="/image/bag.jpg" width="100%" height="100%"></i>
        </div>
        <ion-list>
            <hr>
            <h4>Louisvuitton PETITE MALLE
                <br>$5200（数量） ￥38230
            </h4>
            <hr>
            <span class="input-label"> 详细特征：</span>
            <span>
                万众瞩目的mall，采用羊羔印花做成，
                具有独特的浮雕触感万众瞩目的mall，采用羊羔印花做成，
                具有独特的浮雕触感万众瞩目的mall，采用羊羔印花做成，
                具有独特的浮雕触感
            </span>
            <hr>
            <span class="input-label"> 留言</span>

            <p style=" height:50px; border: 1px solid rgb(238, 238, 238); padding-left: 5px;">Harrynickols:<span></br>
                给你买到拉~好漂亮啊，
                      你好有眼光阿！
         </span></p>
        </ion-list>
        <button class="button button-assertive button-block ">加入心愿单</button>
    </ion-content>
</ion-view>