<ion-view title="联系">
    <ion-header-bar class="bar-assertive">
        <a href="#/app/menu" class="button button-assertive button-icon  icon ion-ios7-arrow-back">购物袋</a>

        <h1 class="title">我是买手</h1>
    </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left">

                <img src="http://ionicframework.com/img/docs/mcfly.jpg">

                <h2>用户abc</h2>

                <p>你能帮她带2件 lv包么 ！</p>
                <ion-list></ion-list>
                <div class="button-bar">
                    <button class="button button-assertive button-block" href="#/app/goodsdetails">详情</button>
                    <a href="#/contact" class="button button-assertive button-block " href="#/app/contactbuyer">联系</a>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg">

                <h2>用户bbbb</h2>

                <p>你能帮他带2件皮质羊毛衫！</p>

                <div class="button-bar">
                    <button class="button button-assertive button-block ">详情</button>
                    <a href="#/contact" class="button button-assertive button-block ">联系</a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>