<ion-view title="自定义商品">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <span class="input-label">商品名称</span>
                <input type="text" placeholder="请输入商品名称">
            </label>
            <label class="item item-input">
                <span class="input-label">备注</span>
                <input type="text" placeholder="请输入备注">
            </label>
            <label class="item item-input">
                <span class="input-label">商品属性</span><textarea placeholder="请输入商品属性"> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">商品图片</span>
                <input type="text" placeholder="">
            </label>
        </ion-list>
        <div class="button-bar">
            <button class="button button-light button-outline button-block button-large icon ion-android-add"></button>
        </div>
        <button class="button button-assertive button-block ">加入心愿单</button>
    </ion-content>
</ion-view>