<ion-view title="自定义商品">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <span class="input-label">商品名称</span>
            <label class="item item-input">
                <input type="text" placeholder="请输入商品名称">
            </label>
            <span class="input-label">备注</span>
            <label class="item item-input">

                <input type="text" placeholder="请输入备注">
            </label>
            <label>
                <span class="input-label">商品图片</span>

                <div class="user_img ">
                    <a class="button button-light button-outline icon ion-android-add"></a>
                </div>
            </label>
        </ion-list>

        <a class="button button-light button-block" href="#/app/wishlists">加入心愿单</a>
    </ion-content>
</ion-view>