<ion-view title="发现商品">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="搜索更多的商品">
            </label>
        </ion-list>
        <div class="spacer"></div>
        <div>
            <i class="icon">
                <img
                        src="image\faxian\zhidebang.jpg" class="faxian"/></i>

            <div class="spacer"></div>
            <i class="icon "><img
                    src="image\faxian\renqibang.jpg" class="faxian"/></i>
        </div>
        <h2>各国代购指南</h2>
        <div class="button-bar">
            <a href="#/app/goodslist"><img src="image/us.jpg" width="50%" width="50%"/>美国</a>
            <a href="#/app/goodslist"><img src="image/cn.jpg" width="50%" width="50%"/>中国</a>
            <a href="#/app/goodslist"><img src="image/en.jpg" width="50%" width="50%"/>英国</a>
        </div>
        <div class="button-bar">
            <a href="#/app/goodslist"><img src="image/us.jpg" width="50%" width="50%"/>美国</a>
            <a href="#/app/goodslist"><img src="image/cn.jpg" width="50%" width="50%"/>中国</a>
            <a href="#/app/goodslist"><img src="image/en.jpg" width="50%" width="50%"/>英国</a>
        </div>
    </ion-content>
</ion-view>