<ion-view title="商品详情">
    <ion-header-bar class="bar-assertive">
        <button class="button button-dark button-icon button-small icon-left ion-android-close"></button>
        <h1 class="title">商品详情</h1>

        <div class="buttons"></div>
    </ion-header-bar>
    <ion-content>
        <div style=" border: 1px solid rgb(238, 238, 238);">
            <i><img src="/image/bag.jpg" width="80%" height="50%"></i>

            <div></div>
        </div>
        <div class="spacer"></div>
        <ion-list>
            <ion-item class="item-divider">Louisvuitton PETITE MALLE
                <br>$5200（数量） ￥38230
            </ion-item>
            <ion-item class="item-divider">代购次数：77 次
                <br>推荐指数：3颗星
                <br>地区：中国
                <br>尺寸：18.0x12.0x4.0cm(长x高x宽)
                <br>
            </ion-item>
            <ion-item class="item-divider">详细特征：
                <br>万众瞩目的mall，采用羊羔印花做成，
                <br>具有独特的浮雕触感
            </ion-item>
        </ion-list>
        <ion-list></ion-list>
        <button class="button button-assertive button-block" href="#/app/wishlists">加入心愿单</button>
    </ion-content>
</ion-view>